 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

 }

 body {
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: #2c2c2c;
 }

 .container {
   text-align: center;
 }

 .footer {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 20px;
   font-size: 12px;
   text-align: center;
 }

 .footer a {
   color: hsl(282, 100%, 21%);
   text-decoration: none;
 }

 @media screen and (max-width: 899px) {
   .title_container {
     margin-top: 280px;
   }

   .main_title {
     position: absolute;
     top: 35%;
     left: 0;
     right: 0;
     font-size: 50px;
     font-weight: bold;
     color: rgb(185, 185, 185);
   }

   .title {
     position: absolute;
     left: 0;
     right: 0;
     color: rgb(255, 221, 2);
     top: 30%;
     font-size: 22px;
     font-family: 'Nanum Gothic', sans-serif;
     font-family: 'Nanum Gothic Coding', monospace;
     font-family: 'Nanum Pen Script', cursive;
     font-family: 'Noto Sans KR', sans-serif;
     font-family: 'Single Day', cursive;
     transform: rotate(-5deg);
   }

   .to_days {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   .top {
     display: inline-block;
     width: 70px;
     height: 70px;
     background-color: #2c2c2c;
     border: 0px solid rgb(65, 65, 65);
     line-height: 75px;
     color: rgb(185, 185, 185);
     font-size: 32px;
     border-radius: 10px;
     overflow: hidden;
     background-color: black;
   }

   .bottom {
     display: inline-block;
     width: 70px;
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     color: rgb(185, 185, 185);

   }
 }

 @media screen and (min-width: 900px) {
   .title_container {
     position: relative;
     margin-top: 280px;
   }

   .main_title {
     font-size: 75px;
     font-weight: bold;
     color: rgb(185, 185, 185);
   }

   .title {
     position: absolute;
     left: 0;
     right: 0;
     color: rgb(255, 221, 2);
     top: -50px;
     font-size: 32px;
     font-family: 'Nanum Gothic', sans-serif;
     font-family: 'Nanum Gothic Coding', monospace;
     font-family: 'Nanum Pen Script', cursive;
     font-family: 'Noto Sans KR', sans-serif;
     font-family: 'Single Day', cursive;
     transform: rotate(-5deg);
   }

   .to_days {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   .top {
     display: inline-block;
     width: 100px;
     height: 100px;
     background-color: #2c2c2c;
     border: 1px solid rgb(65, 65, 65);
     margin-right: 10px;
     line-height: 105px;
     color: rgb(185, 185, 185);
     font-size: 52px;
     border-radius: 10px;
     overflow: hidden;
     background-color: black;
     box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
   }

   .bottom {
     display: inline-block;
     width: 100px;
     text-align: center;
     margin-right: 10px;
     font-size: 24px;
     font-weight: bold;
     color: rgb(185, 185, 185);

   }

   span:nth-child(4),
   span:last-child {
     margin-right: 0;
   }
 }

 @media screen and (max-width: 590px) {
   .title_container {
     position: relative;
     margin-top: 280px;
   }

   .main_title {
     position: absolute;
     top: 55px;
     left: 0;
     right: 0;
     font-size: 40px;
     font-weight: bold;
     color: rgb(185, 185, 185);
   }

   .title {
     position: absolute;
     left: 0;
     right: 0;
     color: rgb(255, 221, 2);
     top: 20px;
     font-size: 22px;
     font-family: 'Nanum Gothic', sans-serif;
     font-family: 'Nanum Gothic Coding', monospace;
     font-family: 'Nanum Pen Script', cursive;
     font-family: 'Noto Sans KR', sans-serif;
     font-family: 'Single Day', cursive;
     transform: rotate(-5deg);
   }

   .to_days {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }

   .top {
     display: inline-block;
     width: 55px;
     height: 55px;
     background-color: #2c2c2c;
     border: 0px solid rgb(65, 65, 65);
     line-height: 60px;
     color: rgb(185, 185, 185);
     font-size: 22px;
     border-radius: 10px;
     overflow: hidden;
     background-color: black;
   }

   .bottom {
     display: inline-block;
     width: 55px;
     text-align: center;
     font-size: 14px;
     font-weight: bold;
     color: rgb(185, 185, 185);

   }
 }